<h2>devise/registrations/edit.html.erb <%= resource_name.to_s.humanize %></h2>

<div class="container-fluid">
    </div>
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8">Bonjour rentrez votre profil utilisateur s'il vous plait.</div>
      <div class="col-lg-2"></div>
    </div>
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">Insérer ici formulaire de profil user</div>
        <div class="col-lg-3"></div>
    </div>
  </div>

<%= link_to "Back", :back %>
