
[class*="col-"] {
  background-color: white;
  border: 1px solid grey;
  text-align: center;
  line-height: 40px;
}
/*style home*/
#home {
  height: 700px;
  background-image:url("http://lorempixel.com/1500/800");
  background-size: cover;

}
/*style search and home */
.col-lg-6{
  height: 700px;
}
.col-lg-8{
  height: 120px;
  padding-top: 60px;
}

